{:paths ["src"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases
 {:repl/nrepl
  {:extra-deps {nrepl/nrepl                {:mvn/version "0.8.3"}}
   :main-opts  ["-m" "nrepl.cmdline"]}

  :repl/cider
  {:extra-deps {nrepl/nrepl                {:mvn/version "0.8.3"}
                cider/cider-nrepl          {:mvn/version "0.26.0"}}
   :main-opts  ["-m" "nrepl.cmdline"
                "--middleware" "[cider.nrepl/cider-middleware]"
                "-i"]}

  :repl/cider-refactor
  {:extra-deps {nrepl/nrepl                   {:mvn/version "0.8.3"}
                cider/cider-nrepl             {:mvn/version "0.26.0"}
                refactor-nrepl/refactor-nrepl {:mvn/version "2.5.1"}}
   :main-opts  ["-m" "nrepl.cmdline"
                "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"
                "-i"]}
  }}
