#{"SAQ" "SYU" "SPT" "SYV" "SYZ" "SPX" "SZV" "SZP" "SPXQ" "BSK" "QSZ" "SXJ" "JXB" "SPQ" "SKQ" "QZQ" "JXA" "SZQ" "SYG" "SVP" "SXB" "SXM" "QSE" "BSZ" "SLQ" "SZT" "SPB" "SQP" "SPL" "SQG" "SRO" "SPZ" "SZU" "SPXPM" "SZJ" "SXZ" "SYF" "SPV" "JXE" "SZD" "SXG" "SXY" "SPXW" "JXD"}