[
"BSK"
"BSZ"
"JXA"
"JXB"
"JXD"
"JXE"
"QSE"
"QSZ"
"QZQ"
"SAQ"
"SKQ"
"SLQ"
"SPB"
"SPL"
"SPQ"
"SPT"
"SPV"
"SPX"
"SPXPM"
"SPXQ"
"SPXW"
"SPZ"
"SQG"
"SQP"
"SRO"
"SVP"
"SXB"
"SXG"
"SXJ"
"SXM"
"SXY"
"SXZ"
"SYF"
"SYG"
"SYU"
"SYV"
"SYZ"
"SZD"
"SZJ"
"SZP"
"SZQ"
"SZT"
"SZU"
"SZV"
]
